/*mini-reset*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*sizes for different devices*/
/*small*/
:root{
    /*font*/
    --fs-base: 16px;
    /*dividers*/
    --space-outer: 1.25rem;/*body margin*/
    --space-card: 1rem;/*padding of the main*/
    --gap: 1rem;/*gap between elements in main*/
    /*layout*/
    --container: 62ch;/*max width of text*/
    /*items (qr, pointer)*/
    --qr: 6rem;/*qr(size)*/
}

/*everything scales with font size (rem)*/
html {
    font-size: var(--fs-base);
}

body {
    background-color: #DDDDDD;
    color: #E0F8D0;
    min-height: 100svh;
    display: grid;
    place-content: center;
    padding: var(--space-outer);
}

main {
    display: flex;
    flex-direction: column;
    background-color: #3A4E3F;
    gap: var(--gap);
    padding: var(--space-card);
    width: 100%;
    max-width: var(--container);
}

/*QR-Code*/
header {
    background-image: url("qr_code.png");
    background-size: var(--qr);
    background-repeat: no-repeat;
    background-position: right var(--space-card) top var(--space-card);
    min-height: var(--qr);
}

/*layout*/
header h1 {
    max-width: min(30ch, calc(100% - (var(--qr) + var(--space-card) + var(--gap))));
    margin-bottom: var(--gap);
}
section p {
    margin-top: var(--gap);
}

footer {
    margin-top: var(--gap);
    margin-bottom: var(--gap);
}

/*buttons*/
footer a {
    background: #E0F8D0;
    color: #3A4E3F;
    padding: 0.5rem;
    margin-right: calc(var(--gap)*0.5);
}

footer a:hover {
    color: black;
    font-style: oblique;
}

/*different devices*/
/* 0–599px */
:root { --fs-base: 16px; }

/*  600px */
@media (min-width: 600px) {
  :root { --fs-base: 17px; }
}

/* 768px */
@media (min-width: 768px) {
  :root { --fs-base: 18px; }
}

/* 1024px */
@media (min-width: 1024px) {
  :root { --fs-base: 18.5px; }
}

/* 1200px */
@media (min-width: 1200px) {
  :root { --fs-base: 19px; }
}

/* 1440px */
@media (min-width: 1440px) {
  :root { --fs-base: 20px; }
}

/* 1600 px */
@media (min-width: 1600px) {
  :root { --fs-base: 20.5px; }
}

/* 1920 px */
@media (min-width: 1920px) {
  :root { --fs-base: 21px; }
}

/* 2560 px */
@media (min-width: 2560px) {
  :root { --fs-base: 22px; }
}

/* 3440 px */
@media (min-width: 3440px) {
  :root { --fs-base: 23px; }
}

/* 3840 px */
@media (min-width: 3840px) {
  :root { --fs-base: 24px; }
}